#######
# IOS #
#######

# Ignore any .plist under ios/Demo
ios/Demo/**/*.plist

# Ignore any .entitlements
**/*.entitlements

# User settings
xcuserdata/

# Builds
.build/

###########
# Android #
###########

# Ignore config overrides
android/app/src/main/res/values/config.xml