#######
# IOS #
#######

#ignore swiftpm
**/.swiftpm

# Ignore any .entitlements
**/*.entitlements

# User settings
**/*/xcuserdata

# Builds
.build/

**/*.xcodeproj/xcshareddata

###########
# Android #
###########

# Ignore config overrides
android/app/src/main/res/values/config.xml

###########
# Other   #
##########
.direnv
**/*.swp
**/*.DS_Store
