<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info-Debug.plist
   Demo

   Created by Jake Grogan on 04/07/2025.
   Copyright (c) 2025 ___Evervault___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <!-- Required keys -->
            <key>CFBundleDevelopmentRegion</key>
            <string>$(DEVELOPMENT_LANGUAGE)</string>

            <key>CFBundleExecutable</key>
            <string>$(EXECUTABLE_NAME)</string>

            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

            <key>CFBundleInfoDictionaryVersion</key>
            <string>6.0</string>

            <key>CFBundleName</key>
            <string>$(PRODUCT_NAME)</string>

            <key>CFBundlePackageType</key>
            <string>APPL</string>

            <key>CFBundleShortVersionString</key>
            <string>1.0</string>

            <key>CFBundleVersion</key>
            <string>1</string>

            <!-- UI (adjust or remove if you use storyboards/xibs differently) -->
            <key>UILaunchStoryboardName</key>
            <string>LaunchScreen</string>

            <key>UISupportedInterfaceOrientations</key>
            <array>
                <string>UIInterfaceOrientationPortrait</string>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
            </array>
        
        <key>EvervaultBaseURL</key>
        <string>https://api.evervault.io</string>
    </dict>
</plist>
